* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

.contenedor {
    width: 90%;
    max-width: 1200px;
    margin: auto;
}

.fila {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav {
    display: flex;
}

::placeholder {
    color: gray;
    letter-spacing: .5rem;
}


/*agregando basura de braulio*/

footer {
    background-image: url('./img/music.jpg');
}

.contenedorform {
    overflow: hidden;
    text-align: center;
    padding: 20px 0;
}

.contenedorform h1,
h2 {
    color: rgb(123, 204, 196);
    z-index: 2;
    text-transform: uppercase;
    text-align: center;
}

.forma {
    margin-top: 20px;
}

.inp {
    text-align: center;
    margin-bottom: 10px;
    padding: 0.5rem;
    border: none;
}

.principal{
   background-image:url(./img/bg-header.jpg);
   background-position:center center;
   position: relative;
}

.inp #mensaje,
#nombre,
#email,
#telefono {
    font-family: sans-serif;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.btn-enviar {
    background-color: orange;
    padding: .8rem 1rem;
    border-radius: 5px;
    z-index: 2;
    border-radius: .8rem;
    border: 0;
    color: white;
    font-weight: bold;
    margin-top: 2rem;
    font-size: 1rem;
    cursor: pointer;
    text-transform: uppercase;
}

.btn-enviar {
    background-color: orange;
    transition: all .3s ease-out;
}

.btn-enviar:hover {
    background-color: rgba(255, 166, 0, .7);
    transition: all .3s ease-out;
}


/*Fin basura de braulio*/

body {
    font-family: sans-serif;
}

.contenedor {
    width: 90%;
    max-width: 1200px;
    margin: auto;
}

header li{
   margin-right: 2rem;
}
header {
    padding: 1rem 0;
}

.fila {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav {
    display: flex;
}

.principal {
    color: white;
    height: 50rem;
}

.principal .contenedor {
    height: 100% !important;
}

.titulo {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.principal {
    background-image: url('./img/bg-header.jpg');
    background-position: center center;
    position: relative;
}

.principal a{
    margin-top:2rem;
}

.principal .color {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(8, 64, 129, .9);
}

.principal h1 {
    font-size: 4rem;
    color: rgb(123, 204, 196);
    z-index: 2;
    text-transform: uppercase;
    text-align: center;
}

header a {
    color: white;
    display: block;
    font-weight: bold;
    text-transform: uppercase;
    background-color: orange;
    padding: .6rem .9rem;
    border-radius: 5px;
    ;
}

header a {
    background-color: orange;
    transition: all .3s ease-out;
}

header a:hover {
    background-color: rgba(255, 166, 0, .7);
    transition: all .3s ease-out;
}

header li {
    margin-right: 2rem;
}

header ul li:nth-of-type(3) {
    margin-right: 0;
}



.btn-link {
    background-color: orange;
    padding: .8rem 1rem;
    border-radius: 5px;
    z-index: 2;
    border: 0;
    border-radius: .8rem;
    color: white;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1rem;
    display:block;
}

.btn-link {
    background-color: orange;
    transition: all .3s ease-out;
}

.btn-link:hover {
    background-color: rgba(255, 166, 0, .7);
    transition: all .3s ease-out;
}
article{
    padding:2rem 0;
    background-color:#eee;
}

article h1{
    text-align:center;
    font-size: 3rem;
    margin-bottom:2rem;
    font-family: Arial, Helvetica, sans-serif;
    color:#333;
}

article .fila{
    flex-wrap: wrap;
    justify-content: space-around;
}

article .contenido-servicio{
    width:300px;
    border:1px solid rgba(0, 0, 0, .3);
    z-index:2;
    box-sizing: content-box;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .7);
    margin-bottom:1rem;
}

article .contenido-servicio img{
    width:300px;
}

article a{
    width:70%;
    margin:auto;
    display:block;
    text-align:center;
    margin-top:1rem;
}

article h3{
    text-align:center;
    margin-bottom:.5rem;
}

article .texto{
    padding:.5rem 1rem;
    background-color:white;
    text-align:center;
}


@media(max-width:768px){
    article .contenido-servicio img{
        width:100%;
    }
    article .contenido-servicio{
        width:100%;
    }
    header .fila{
        flex-direction:column;
    }
    header h1{
        margin-bottom:1rem;
    }
    header ul{
        flex-direction:column;
        align-items: center;
    }
    header li{
        margin-bottom:1rem;
        margin-right:2rem !important;
    }
}